<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bota.cla.appoftheancients" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.ContactsActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.TimelineActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.TwitterActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="34204482d65a52b41b3c2708264d5816e08d1373" />

        <receiver
            android:name=".receiver.ContactsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.digits.sdk.android.UPLOAD_COMPLETE"/>
                <action android:name="com.digits.sdk.android.UPLOAD_FAILED"/>
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Pre-fill phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- Read Pincode -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- Get Contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest>
